.navbar{
    background-color: #0080FF;
}
.offcanvas-body i{
    color: #ffffff;
}
.offcanvas-body .badge{
    color: #ffffff;
    position: absolute;
    top: 10px;
}
.offcanvas-body i.fa-user{
    padding-left: 10px;
}